/*{margin:15px;}*/

body {
   background-color: #E6E4E4;
   font-size: 16px;
   font-family: Helvetica;
}

p {
   margin:10px;
   color: #b2bac2;
   text-align: justify;
}


div {
   display: inline-block;
   width:90%;
}

#first {
      background-color: white;
      text-align: center;
      margin: 2% 5% 5% 5%;
}

h1 {
   margin-left:6.8%;
   color: #384047;
   font-size: 28px;
   font-style: bold;
   text-align: justify;
}


#titu {
   margin:10px;
   color:black;
   font-size: 16px;
   font-style: bold;

}

#verde {
   background-color: #5fcf80;
   border: 1px solid #3ac162;
   height:50px;
   width:100px;
   text-align: center;
   padding-top: 15px;
   border-radius: 15%;
   color:white;
}

#azul {
   background-color: #3f8abf;
   border: 1px solid #326e99;
   height:50px;
   width:100px;
   text-align: center;
   padding-top: 15px;
   border-radius: 15%;
   color:white;
}