#inicio {
  background-color: #1C1C1C;
}

h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: center;
}

#color {
  color: white;
  font-size: 26px;
  margin-bottom: 40px;
  margin-top: 100px;
  text-align: center;
}

#colores {
  text-align: center;
}

#color1 {
  border:1px solid black;
  border-radius: 100%;
  display: inline-block;
  height: 60px;
  width: 60px;
}

#color2 {
  border:1px solid black;
  border-radius: 100%;
  display: inline-block;
  margin-left: 20px;
  height: 60px;
  width: 60px;
}

#color3 {
  border:1px solid black;
  border-radius: 100%;
  display: inline-block;
  margin-left: 20px;
  height: 60px;
  width: 60px;
}

/*********************************************************/
section{
  margin-top: 150px;
}

#dibujo{
  background-color: white;
  border:2px solid black;
  border-radius: 5%;
  display: inline-block;
  font-size: 20px;
  height: 70px;
  margin-left: 8%;
  text-align: left;
  vertical-align: top;
  width: 60%;
  position: relative;
}

#dibujo p {
  display: inline-block;
  width: 30%;
  margin-right: 20px;
  text-align: center;
  position: absolute;
  top:-5px;
  left: 180px;
}

#boton-malo {
  height: 40px;
  width: 200px;
  background-color: #0404B4;
  border-radius: 5%;
  border:2px solid #FFFF00;
  display: inline-block;
  text-align: center;
  position: absolute;
  top:15px;
  right: 80px;
}

#boton-malo h2{
  color: #00BFFF;
  display: inline-block;
  font-size: 16px;
}

#boton-bueno {
  height: 40px;
  width: 200px;
  background-color: #0404B4;
  border-radius: 5%;
  border:2px solid #FFFF00;
  display: inline-block;
  text-align: center;
  position: absolute;
  top:15px;
  right: 80px;
}

#boton-bueno h2{
  color: #00BFFF;
  display: inline-block;
  font-size: 16px;
}

#im {
  display: inline-block;
  margin-left: 10px;
  margin-right: 50px;
  width: 80px;
}

#parrafo {
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: 70px;
  margin-left: 10px;
  text-align: center;
  width: 120px;
}

#score {
  background-color: white;
  border:2px solid black;
  border-radius: 5%;
  color:black;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: 70px;
  text-align: center;
  width: 70px;
}